body {
	/*background: #f5f5f5;*/

}

.wrapper {
  min-height: calc(100vh - 30px);
  background-color: rgb(128, 203, 196);
/*  max-width: 1440px;
  min-width: 320px;
  margin: auto;*/
}
.title {
	font-size: 58px;
/*	font-family: 'Lobster', cursive;*/
}

.tlt {
	position: absolute;
	width: 100%;
	padding-top: 45px;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 100;
}

.tag {
	font-size: 24px;
	position: absolute;
	padding: 100px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	z-index: 100;
}

.backgroundImage {
	width: 55%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	top: 132px;
	z-index: 90;
}

.login {
	padding-top: 132px;
}

.signUp {
	cursor: pointer;
}

.signIn {
	cursor: pointer;
}

.forgotPW {
	cursor: pointer;
}

#regBtn {
	margin-bottom: 20px;
}


/*SIDE NAVIGATION STYLES*/

/*Override Semantic UI styles for side nav*/
.ui.segment {
	margin: 0;
	border: 0;
	padding: 0;
}

.ui.button {
	background-color: #ee6e73;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
	border-radius: 0;
}

.ui.button:focus {
	background-color: #ffca28;
}

.ui.button:hover {
	background-color: #ffca28;
}

.material-icons {
	color: white;
}

.material-icons:hover {
	color: black;
}

.material-icons:focus {
	color: black;
}

nav .brand-logo.center {
	/*font-family: 'Lobster', cursive;*/
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2.6rem;
}

/*.container {
	margin-top: 80px;
	width: 400px;
	height: 700px;
}*/

.tabs .indicator {
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container {
/*	padding-top: 136px;*/
/*	padding-right: 40px;*/
/*	padding-bottom: 10px;*/
/*	padding-left: 40px;*/
}

.confirmation-tabs-btn {
	position: absolute;
}

.register {
	padding-top: 76px;
	padding-bottom: 20px;
	width:80%;
	margin-left:10%;
}

.display-linebreak {
	white-space: 'pre-wrap';
}

.purple lighten-2 {
	margin-top: 20px;
}

.flow-text {
	margin-bottom: 20px;
}

.light-blue .darken-1 {
	color: white;
}

.renderApiData {
	line-height: 100%;
	word-spacing: 8px;
}

.directVote {
	text-align: center;
}

.hearts {
	margin-top: 10px;
    margin-bottom: 10px;
}

/*FOOTER STYLES*/

footer {
	background-color: #ee6e73;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.copyright {
	padding-right: 5px;
}

/*#footerGithub {
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}*/

i.icon:hover {
  background-color: #ffca28;
  color: #000000;
}


